<div class="starter-template">

        <div class="row intro">
            <h1>Live-Stream - Control</h1>
            <p class="lead">v1.0.0</p>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <pre>Frames encoded: {{ appData.encoder.progress.frames }}
Current FPS:    {{ appData.encoder.progress.currentFps }}
Current kBps:   {{ appData.encoder.progress.currentKbps }}
Target Size:    {{ appData.encoder.progress.targetSize }}
Timestamp:      {{ appData.encoder.progress.timemark }}</pre>
            </div>
          <div class="col-xs-6">
                <ul class="list-group">
                  <li class="list-group-item">
                    Encoder&nbsp;
                    <span class="label" ng-class="{'label-success': appData.encoder.running, 'label-default': !appData.encoder.running}">{{ appData.encoder.running ? 'läuft' : 'gestoppt' }}</span>
                  </li>
                  <li class="list-group-item">
                    Capture-Prozess&nbsp;
                    <span class="label" ng-class="{'label-success': appData.encoder.running, 'label-default': !appData.encoder.running}">{{ appData.encoder.running ? 'läuft' : 'gestoppt' }}</span>
                  </li>
                </ul>
           </div>
        </div>

        <div class="row">
            <p class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg" ng-click="clickPreview()">Preview-Bild laden</button>
                <button
                    type="button"
                    class="btn btn-lg"
                    ng-class="{'btn-danger': appData.encoder.running, 'btn-primary': !appData.encoder.running}"
                    ng-click="clickStart()">
                    <i class="fa fa-play" ng-class="{'fa-stop': appData.encoder.running, 'fa-play': !appData.encoder.running}"></i> Stream {{ appData.encoder.running ? 'stoppen' : 'starten' }}
                </button>
            </p>
        </div>



        <div class="row">

            <div class="col-xs-12 debug-tabs" >
                <tabset type="tabs">
                    <tab heading="Options"><pre>{{ appData | json }}</pre></tab>
                    <tab heading="Console">

                    <pre><span ng-repeat="line in logs"><span ng-bind-html="line | ansiToHtml"></span><br /></span></pre>

                    </tab>
                </tabset>

            </div>
        </div>

        <div class="row">
          <div class="col-xs-6"><img ng-src="{{ previewImgSrc }}" id="capture-preview" /></div>
          <div class="col-xs-6"></div>
        </div>

</div>