<div class="starter-template">

        <div class="row intro">
            <h1>Live-Stream - Control</h1>
            <p class="lead">v1.0.0</p>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item">
                      Encoder&nbsp;
                      <span class="label" ng-class="{'label-success': appData.encoder.running, 'label-default': !appData.encoder.running}">{{ appData.encoder.running ? 'läuft' : 'gestoppt' }}</span>
                    </li>
                    <li class="list-group-item">
                      Capture-Prozess&nbsp;
                      <span class="label" ng-class="{'label-success': appData.capture.running, 'label-default': !appData.capture.running}">{{ appData.capture.running ? 'läuft' : 'gestoppt' }}</span>
                    </li>
                    <li class="list-group-item">Frames encoded: {{ appData.encoder.progress.frames }}</li>
                    <li class="list-group-item">Current FPS:    {{ appData.encoder.progress.currentFps }}</li>
                    <li class="list-group-item">Current kBps:   {{ appData.encoder.progress.currentKbps }}</li>
                    <li class="list-group-item">Target Size:    {{ appData.encoder.progress.targetSize }}</li>
                    <li class="list-group-item">Timestamp:      {{ appData.encoder.progress.timemark }}</li>
                </ul>


            </div>
            <div class="col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </div>

            <div class="col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <img ng-src="{{ previewImgSrc }}" id="capture-preview" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-group">

                  <li class="list-group-item">
                    <h4>Eingänge / Capture</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="device in appData.devices">

                        </li>
                    </ul>
                  </li>

                </ul>
           </div>
            <div class="col-xs-6">
                <ul class="list-group">

                  <li class="list-group-item">
                    <h4>Ausgang / Playout</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="device in appData.devices">

                            <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="radio" name="encoder-option" ng-model="appData.playoutDevice" id="radio-{{device.index}}" value="{{device.index}}" >
                                  </span>
                                  <input type="text" class="form-control" value="{{device.name}}">

                            </div><!-- /input-group -->
                        </li>
                        <li class="list-group-item input-group">
                            <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="radio" name="encoder-option" ng-model="appData.playoutDevice" id="radio-{{device.index}}" value="{{device.index}}" >
                                  </span>
                                  <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </li>
                    </ul>
                  </li>

                </ul>
           </div>
        </div>

        <div class="row">
            <p class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg" ng-click="clickPreview()">Preview-Bild laden</button>
                <button
                    type="button"
                    class="btn btn-lg"
                    ng-class="{'btn-danger': appData.encoder.running, 'btn-primary': !appData.encoder.running}"
                    ng-click="clickStart()">
                    <i class="fa fa-play" ng-class="{'fa-stop': appData.encoder.running, 'fa-play': !appData.encoder.running}"></i> Stream {{ appData.encoder.running ? 'stoppen' : 'starten' }}
                </button>
            </p>
        </div>



        <div class="row">

            <div class="col-xs-12 debug-tabs" >
                <tabset type="tabs">
                    <tab heading="Options"><pre>{{ appData | json }}</pre></tab>
                    <tab heading="Console">

                    <pre><span ng-repeat="line in logs track by $index"><span ng-bind-html="line | ansiToHtml"></span><br /></span></pre>

                    </tab>
                </tabset>

            </div>
        </div>

        <div class="row">
          <div class="col-xs-6"></div>
        </div>

</div>