body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.starter-template pre{
    text-align: left;
}
.starter-template .intro{
    text-align: center;
}

.navbar-inverse{
    background-color: #333;
}

.debug-tabs pre{
    height: 300px;
    max-height: 300px;
    overflow: auto;
}

.debug-tabs .log-lines{
    padding-left: 0px;
    font-size: 80%;
    line-height: 0.8;
}

#capture-preview{
    max-width: 100%;
}

label.form-control{
    font-weight: normal;
}

#console{
    font-weight: 200;
    line-height: 1.5;
    background-color: #444;
    color: #ddd;
}


.ansi-black-fg{
    color: #111111;
}
.ansi-red-fg{
    color: #e7431d;
}
.ansi-green-fg{
    color: #83ba40;
}
.ansi-yellow-fg{
    color: #f6d200;
}
.ansi-blue-fg{
    color: #1294d3;
}
.ansi-magenta-fg{
    color: #c694d3;
}
.ansi-cyan-fg{
    color: #7bc2c3;
}
.ansi-white-fg{
    color: #ffffe7;
}

.ansi-bright-black-fg{
    color: #333333;
}
.ansi-bright-red-fg{
    color: #ff6c52;
}
.ansi-bright-green-fg{
    color: #a3e750;
}
.ansi-bright-yellow-fg{
    color: #f6de55;
}
.ansi-bright-blue-fg{
    color: #2ebbff;
}
.ansi-bright-magenta-fg{
    color: #f6d2ff;
}
.ansi-bright-cyan-fg{
    color: #90e2e3;
}
.ansi-bright-white-fg{
    color: #ffffff;
}
